<div class="card-body">
  <table datatable [dtOptions]="dtOptions" class="row-border hover table-bordered">
    <!-- <table datatable [dtOptions]="dtOptions" class="row-border hover table-striped table-bordered"> -->
    <tfoot>
      <tr>
        <th><input type="text" placeholder="Buscar ID" name="search-id"/></th>
        <th><input type="text" placeholder="Buscar first name" name="search-first-name"/></th>
        <th><input type="text" placeholder="Buscar last name" name="search-last-name"/></th>
      </tr>
    </tfoot>
  </table>
</div>
